# Web Scraping using BeautifulSoup

In [185]:
#Install necessary libraries

#!pip install requests
#!pip install bs4

In [2]:
#Import required libraries for Web Scraping.

import requests
from bs4 import BeautifulSoup
import pandas as pd

# Problem 1

Write a python program to display all the header tags from wikipedia.org.

In [308]:
#Send get request to the webpage server to get the source code of the page.
url = requests.get("https://en.wikipedia.org/wiki/Main_Page")

#Creating Soup
soup = BeautifulSoup(url.text, 'html.parser')

header = soup.find_all(['h1','h2','h3','h4','h5','h6'])

#Printint list of header tags.
print("Displaying all the Hearder Tags:", *header, sep = '\n\n')

Displaying all the Hearder Tags:

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

# Problem 2

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [291]:
#Sending request to IMDB's server to get the content.
IMD = requests.get("https://www.imdb.com/list/ls091520106/")

#Create soup
soup = BeautifulSoup(IMD.content,'html.parser')

#Creating empty list for our 3 required elements
name = []
rating = []
year_of_release = []

#Scraping movie data
movie_data = soup.find_all('div', class_ = 'lister-item mode-detail')

#Scraping reruired data and putting them into the empty lists
for i in movie_data:
    #Movie Name
    movie_name = i.h3.a.text
    name.append(movie_name)
    
    #Rating
    rate = i.find('span', class_ = 'ipl-rating-star__rating').text.replace('\n','')
    rating.append(rate)
    
    
    #Year of release
    year = i.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year_of_release.append(year)

#Creating DataFrame to display IMDB’s Top rated 100 movies(name, rating, year of release).
df = pd.DataFrame({'Name':name, 'Rating':rating, 'Year Of Release':year_of_release})
df

                                   Name Rating Year Of Release
0              The Shawshank Redemption    9.3            1994
1                         The Godfather    9.2            1972
2                 The Godfather Part II      9            1974
3                       The Dark Knight      9            2008
4                          12 Angry Men      9            1957
..                                  ...    ...             ...
95                   North by Northwest    8.3            1959
96                   A Clockwork Orange    8.3            1971
97                               Snatch    8.3            2000
98  Le fabuleux destin d'Amélie Poulain    8.3            2001
99                              The Kid    8.3            1921

[100 rows x 3 columns]

# Problem 3

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [45]:
#Sending request to IMDB's server to get webpage content.
url = "https://www.imdb.com/india/top-rated-indian-movies/"

response = requests.get(url)

#Create Soup
soup = BeautifulSoup(response.content,'html.parser')

#Scrape desired data name data from the webpage
movie = soup.find_all('td', class_ = 'titleColumn')
rating = soup.find_all('td', class_ = 'ratingColumn imdbRating')
year_of_release = soup.find_all('span', class_ = 'secondaryInfo')

#Creating empty list
names = []
ratings = []
year = []

#Parse the Movie Names
for i in movie:
    i = i.get_text().strip().split(".")[-1].strip().split('\n')[0]
    names.append(i)

#Parse the Ratings
for rat in rating:
    rat = rat.get_text().replace('\n','')
    ratings.append(rat)
    
#Parse the Year of Release
for y in year_of_release:
    y = y.get_text().replace('\n','').replace('(','').replace(')','')
    year.append(y)
    
#Creating DataFrame to display IMDB’s Top rated 100 Indian movies(name, rating, year of release).
df = pd.DataFrame()
df['Name'] = names
df['Rating'] = ratings
df['Year_of_Release'] = year

df.head(100)

                           Name Rating Year_of_Release
0    Rocketry: The Nambi Effect    8.5            2022
1                    Anbe Sivam    8.4            2003
2                       Golmaal    8.4            1979
3                       Nayakan    8.4            1987
4                      Jai Bhim    8.4            2021
..                          ...    ...             ...
95              Rang De Basanti    8.0            2006
96  Baahubali 2: The Conclusion    8.0            2017
97                       Baasha    8.0            1995
98                       Masaan    8.0            2015
99                    Virumandi    8.0            2004

[100 rows x 3 columns]

# Problem 4

Write s python program to display list of respected former presidents of India(i.e. Name , Term of office)
from https://presidentofindia.nic.in/former-presidents.htm

In [296]:
#Sending request to the server to get the webpage content.
url = "https://presidentofindia.nic.in/former-presidents.htm"

result = requests.get(url)

#Create Soup
soup = BeautifulSoup(result.content,'html.parser')

#Scrap the list of president data
president = soup.find_all('div', class_ = 'presidentListing')

#Creating empty list
Name = []
Term_of_Office = []

for i in president:
    #Scraping name
    name = i.h3.get_text().split('(')[0]
    Name.append(name)
    
    #Scraping term
    term = i.p.get_text().split(':')[1]
    Term_of_Office.append(term)

#Creating own index value
index = {1,2,3,4,5,6,7,8,9,10,11,12,13,14}

#Creating DataFrame to display list of respected former presidents of India.
pred = list(zip(Name,Term_of_Office))
df = pd.DataFrame(pred,index, columns = ['Name', 'Term Of Office'])
df

,Name,Term Of Office
1,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
12,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# Problem 5

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [297]:
#Sending requesting to the cricket webpage server to get the content.
url1 = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

res = requests.get(url1)

#Create Soup
soup1 = BeautifulSoup(res.content)

#Scraping team name from the webpage
team = soup1.find('td', class_ = 'rankings-block__banner--team-name').text.split('\n')[2]
team_n = soup1.find_all('td', class_ = 'table-body__cell rankings-table__team')
nam = []
for i in team_n:
    nam.append(i.text.split('\n')[2])
               
#Inserting banner data to the list
nam.insert(0,team)
team_name = nam[0:10]


#Scrape Matches data from the webpage
ban_m = soup1.find('td', class_ = 'rankings-block__banner--matches').text
team_m = soup1.find_all('td', class_ = 'table-body__cell u-center-text')
match = []
for m in team_m:
    match.append(m.text)

matches = match[0:18:2]

#Inserting Banner data to the list
matches.insert(0,ban_m)
team_matches = matches[0:10]

#Scrape team poin data
ban_p = soup1.find('td', class_ = 'rankings-block__banner--points').text
team_p = match[1:18:2]

#Inserting Banner data to the list
team_p.insert(0,ban_p)

#Scrape rating
ban_r = soup1.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').strip()
team_r = soup1.find_all('td', class_ = 'table-body__cell u-text-right rating')

t_ratings = []

for i in team_r:
    t_ratings.append(i.text)

#Inserting Banner data to the list
t_ratings.insert(0,ban_r)
ratings = t_ratings[0:10]

#Creating own index value.
index1 = {1,2,3,4,5,6,7,8,9,10}

#Create DataFrame to showcase Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ODI_t = pd.DataFrame({'Country':team_name,'Matches':team_matches,'Points':team_p,'Rating':ratings},index1)
ODI_t

         Country Matches Points Rating
1    New Zealand      19  2,355    124
2        England      27  3,226    119
3          India      31  3,447    111
4       Pakistan      22  2,354    107
5      Australia      23  2,325    101
6   South Africa      21  2,111    101
7     Bangladesh      30  2,753     92
8      Sri Lanka      29  2,658     92
9    West Indies      41  2,902     71
10   Afghanistan      18  1,238     69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [298]:
#Sending request to the webpage
url2 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
r = requests.get(url2)

#Creating soup
soup2 = BeautifulSoup(r.content,'html.parser')

#Scraping Plyers name from the webpage
ban_n = soup2.find('div', class_ = 'rankings-block__banner--name-large').text
com_n = soup2.find_all('td', class_ = 'table-body__cell rankings-table__name name')
names = []

for i in com_n:
    names.append(i.text.replace('\n',''))

#Insert banner name to the rest of the list
names.insert(0,ban_n)
Players = names[0:10]

#Scraping team from the webpage
ban_t = soup2.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
com_t = soup2.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
teams = []

for i in com_t:
    teams.append(i.text.replace('\n',''))

#Inserting banner team to the other team list
teams.insert(0,ban_t)
team = teams[0:10]

#Scraping rating from the webpage
ban_r = soup2.find('div', class_ = 'rankings-block__banner--rating').text
com_r = soup2.find_all('td', class_ = 'table-body__cell rating')
rati = []

for i in com_r:
    rati.append(i.text)

#Inserting banner rating to the other ratings list
rati.insert(0,ban_r)
rating = rati[0:10]

#Creating own index value.
index2 = {1,2,3,4,5,6,7,8,9,10}

#Creating DataFrame of Top 10 ODI Batsmen along with the records of their team and rating.
Bat = list(zip(Players,team,rating))
Batsman = pd.DataFrame(Bat,index2,columns = ['Players','Team','Rating'])
Batsman

                  Players Team Rating
1              Babar Azam  PAK    890
2   Rassie van der Dussen   SA    789
3         Quinton de Kock   SA    784
4             Imam-ul-Haq  PAK    779
5             Virat Kohli  IND    744
6            Rohit Sharma  IND    740
7            David Warner  AUS    737
8          Jonny Bairstow  ENG    732
9             Ross Taylor   NZ    722
10            Aaron Finch  AUS    715

c) Top 10 ODI bowlers along with the records of their team and rating

In [299]:
#Sending request to the ICC webpage for the page content
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

#Creating Soup for scraping webpage content
soup3 = BeautifulSoup(page.content,'html.parser')

#Scraping bowlers detail
b_bow = soup3.find('div', class_ = 'rankings-block__banner--name-large').text
r_bow = soup3.findAll('td', class_ = 'table-body__cell rankings-table__name name')
bowler = []

for b in r_bow:
    bowler.append(b.text.replace('\n',''))

#Inserting banner bowler details to the list
bowler.insert(0,b_bow)
bowlers = bowler[0:10]

#Scraping team details from the webpage.
b_t = soup3.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
r_t = soup3.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
tea = []

for r in r_t:
    tea.append(r.text.replace('\n',''))

#Inserting banner taem to the list
tea.insert(0,b_t)
team = tea[0:10]

#Scraping rating from the webpage
b_r = soup3.find('div', class_ = 'rankings-block__banner--rating').text
r_r = soup3.find_all('td', class_ = 'table-body__cell rating')
rat = []

for i in r_r:
    rat.append(i.text)

#Inserting banner rating to the list
rat.insert(0,b_r)
rating = rat[0:10]

#Creating index value.
index3 = {1,2,3,4,5,6,7,8,9,10}

#Creating DataFrame to show Top 10 ODI bowlers along with the records of their team and rating.
ODI_Bowlers = pd.DataFrame({'Bowlers':bowlers,'Team':team,'Rating':rating},index3)
ODI_Bowlers

              Bowlers Team Rating
1         Trent Boult   NZ    720
2      Josh Hazlewood  AUS    679
3    Mujeeb Ur Rahman  AFG    676
4      Jasprit Bumrah  IND    662
5      Shaheen Afridi  PAK    661
6       Mohammad Nabi  AFG    657
7        Mehedi Hasan  BAN    655
8         Rashid Khan  AFG    651
9          Matt Henry   NZ    644
10  Mustafizur Rahman  BAN    640

# Problem 6

Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [300]:
#Sending request to the webpage server to get page content.
page1 = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

#Creating Soup to scrap data from the webpage
soup4 = BeautifulSoup(page1.content,'html.parser')

#Parse the team details from the webpage
b_t = soup4.find('td', class_ = 'rankings-block__banner--team-name').text.split('\n')[2]
r_team = soup4.findAll('td', class_ = 'table-body__cell rankings-table__team')
te = []
for i in r_team:
    te.append(i.text.split('\n')[2])

#Inserting banner team details to the list
te.insert(0,b_t)
teams = te[0:10]

#Parse the matches detail from the webpage
b_m = soup4.find('td', class_ = 'rankings-block__banner--matches').text
r_m = soup4.find_all('td', class_ = 'table-body__cell u-center-text')
mat = []

for i in r_m:
    mat.append(i.text)

matc = mat[0:18:2]#to extract value of matches

#Inserting banner matches to the list
matc.insert(0,b_m)
matches1 = matc[0:10]

#Parse the points.
ban_p = soup4.find('td', class_ = 'rankings-block__banner--points').text
rest_p = mat[1:18:2]

#Inserting banner points to the rest of the points.
rest_p.insert(0,ban_p)
points = rest_p[0:10]

#Parse the rating
ban_r = soup4. find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').strip()
rest_rat = soup4.find_all('td', class_ = 'table-body__cell u-text-right rating')
ratings1 = []

for i in rest_rat:
    ratings1.append(i.text.replace('\n','').strip())

#Inserting banner ratings to the list
ratings1.insert(0,ban_r)
rating1 = ratings1[0:10]

#Creating index value.
index4 = {1,2,3,4,5,6,7,8,9,10}

#Creating DataFrame to showcase Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
Women_ODI = pd.DataFrame({'Country':teams,'Matches':matches1,'Points':points,'Rating':rating1},index4)
Women_ODI

         Country Matches Points Rating
1      Australia      29  4,837    167
2        England      33  4,046    123
3   South Africa      35  4,157    119
4          India      32  3,219    101
5    New Zealand      31  3,019     97
6    West Indies      30  2,768     92
7     Bangladesh      12    930     78
8       Pakistan      30  1,962     65
9        Ireland       9    405     45
10     Sri Lanka      11    495     45

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [301]:
#Sending request to the ICC webpage to scrap content.
w = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

#Creating soup
soup5 = BeautifulSoup(w.content,'html.parser')

#Scraping banner player
b_p = soup5.find('div',class_ = 'rankings-block__banner--name-large').text
rest_p = soup5.find_all('td', class_ = 'table-body__cell rankings-table__name name')
players1 = []

for i in rest_p:
    players1.append(i.text.replace('\n',''))

#Inserting banner player name to the list and showing only top 10 players.
players1.insert(0,b_p)
playerss = players1[0:10]

#Scraping team details from the webpage
b_team = soup5.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
r_team = soup5.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
w_team = []

for i in r_team:
    w_team.append(i.text.replace('\n',''))

#Inserting banner team details to the list
w_team.insert(0,b_team)
women_team = w_team[0:10]

#Scraping rating from the webpage
b_rat = soup5.find('div', class_ = 'rankings-block__banner--rating').text
r_rat = soup5.find_all('td', class_ = 'table-body__cell rating')
w_rat = []

for i in r_rat:
    w_rat.append(i.text)

#Inserting banner rating to the list
w_rat.insert(0,b_rat)
women_rating = w_rat[0:10]

#Creating index value.
index5 = {1,2,3,4,5,6,7,8,9,10}

#Creating DataFrame to display Top 10 women’s ODI Batting players along with the records of their team and rating.
Women_batting = pd.DataFrame({'Players':playerss,'Team':women_team,'Rating':women_rating},index5)
Women_batting

                Players Team Rating
1          Alyssa Healy  AUS    785
2           Beth Mooney  AUS    749
3        Natalie Sciver  ENG    747
4       Laura Wolvaardt   SA    732
5           Meg Lanning  AUS    710
6        Rachael Haynes  AUS    701
7     Amy Satterthwaite   NZ    681
8        Tammy Beaumont  ENG    667
9   Chamari Athapaththu   SL    655
10      Smriti Mandhana  IND    649

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [302]:
#Sending request to the website server to scrap page content
all_rounder = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

#Creating soup to extract content
soup6 = BeautifulSoup(all_rounder.content,'html.parser')

#Scrap the players data
banner_n = soup6.find('div', class_ = 'rankings-block__banner--name-large').text
rest_n = soup6.find_all('td', class_ = 'table-body__cell rankings-table__name name')
p = []

for i in rest_n:
    p.append(i.text.replace('\n',''))

#Inserting banner player to the list.
p.insert(0,banner_n)
play = p[0:10]

#Scraping team details.
b_team = soup6.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
rest_team = soup6.find_all('td', class_ = 'table-body__cell nationality-logo rankings-table__team')
all_team = []

for i in rest_team:
    all_team.append(i.text.replace('\n',''))

#Inserting banner team to the list
all_team.insert(0,b_team)
al_team = all_team[0:10]

#Scraping rating
bann_rating = soup6.find('div', class_ = 'rankings-block__banner--rating').text
rest_rating = soup6.find_all('td', class_ = 'table-body__cell rating')
al_rat = []

for i in rest_rating:
    al_rat.append(i.text)

#Inserting banner rating to the list.
al_rat.insert(0,bann_rating)
all_rating = al_rat[0:10]

#Creating index value.
index6 = {1,2,3,4,5,6,7,8,9,10}

#Creating DataFrame to showcase Top 10 women’s ODI all-rounder along with the records of their team and rating.
all_rounder = list(zip(play,al_team,al_rat))
All_rounder = pd.DataFrame(all_rounder,index6,columns = ['Players','Team','Rating'])
All_rounder

             Players Team Rating
1     Natalie Sciver  ENG    379
2       Ellyse Perry  AUS    374
3     Marizanne Kapp   SA    349
4    Hayley Matthews   WI    339
5        Amelia Kerr   NZ    336
6   Ashleigh Gardner  AUS    270
7      Deepti Sharma  IND    252
8      Jess Jonassen  AUS    246
9    Katherine Brunt  ENG    220
10   Stafanie Taylor   WI    207

# Problem 7

Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline

ii) Time

iii) News Link

In [13]:
#Import date time

from datetime import date
today = date.today()
d = today.strftime('%d-%m-%y')

#Sending request to the news webpage server and using time format to get the updated headlines in every execution.
n_url = 'https://www.cnbc.com/world/'.format(d)
n  = requests.get(n_url)

#Create Soup
soup_n = BeautifulSoup(n.content,'html.parser')

#Scrape the headline
headline = []
news = soup_n.find_all('a', class_ = 'LatestNews-headline')

for i in news:
    headline.append(i.text)

#Parse the time from the webpage
time = []

for i in soup_n.find_all('time', class_ = 'LatestNews-timestamp'):
    time.append(i.text)
    
#Scrape links.
links = []

for n in soup_n.find_all('div', class_ = 'LatestNews-headlineWrapper'):
    links.append(n.a['href'].strip("'/pro/'"))

news = pd.DataFrame({'Headline':headline,'Time':time,'News Link':links})
news.head()

,Headline,Time,News Link
0,U.S. Treasury yields rise after Powell signals...,2 Hours Ago,https://www.cnbc.com/2022/08/29/us-bonds-in-fo...
1,European markets lower after Powell's interest...,3 Hours Ago,https://www.cnbc.com/2022/08/29/europe-markets...
2,Three people with travel 'dream jobs' explain ...,5 Hours Ago,https://www.cnbc.com/2022/08/29/how-to-blog-ab...
3,Struggling with long Covid? Here's what you sh...,6 Hours Ago,https://www.cnbc.com/2022/08/29/struggling-wit...
4,Chinese stocks' U.S. delisting risk halves aft...,6 Hours Ago,https://www.cnbc.com/2022/08/29/goldman-us-del...

# Problem 8

Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [9]:
#Sending request to the webpage.
urll = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
ai = requests.get(urll)

#Create soup
ai_soup = BeautifulSoup(ai.content,'html.parser')

#Scraping Paper title
paper = []
p = ai_soup.findAll('a', class_ = 'sc-5smygv-0 nrDZj')

for pa in p:
    paper.append(pa.text)
    
#Scraping Authors detail
auth = []

for au in ai_soup.findAll('span', class_ = 'sc-1w3fpd7-0 pgLAT'):
    auth.append(au.text)
    
#Scraping Published dates from the website
pub = []

for p in ai_soup.findAll('span', class_ = 'sc-1thf9ly-2 bKddwo'):
    pub.append(p.text)

#Scraping paper URLs
urls = []

for u in ai_soup.findAll('li', class_ = 'sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'):
    urls.append(u.a['href'])
    
AI = pd.DataFrame({'Paper Title':paper,'Authors':auth,'Published Date':pub,'Paper URL':urls})
AI = AI.style.hide_index()
AI

# Problem 9

Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [5]:
#Sending request to the webpage to get page content.
bb = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
b_res = requests.get(bb)

#Creating soup 
b_soup = BeautifulSoup(b_res.content,'html.parser')

#Srcaping resturent name
r_name = []
resturent = b_soup.find_all('a', class_ = 'restnt-name ellipsis')

for r in resturent:
    r_name.append(r.text)
    
#Scraping cuisine
cuisine = []
cui = b_soup.find_all('span', class_ = 'double-line-ellipsis')

for c in cui:
    cuisine.append(c.text.split('|')[1])
    
#Scraping locations
location = []

for l in b_soup.findAll('div', class_ = 'restnt-loc ellipsis'):
    location.append(l.text)
    

#Parse the ratings
r_ratings = []

for r in b_soup.findAll('div', class_ = 'restnt-rating rating-4'):
    r_ratings.append(r.text)


#Scraping URLs
URL = []

for bu in b_soup.findAll('img', class_ = 'no-img'):
    URL.append(bu['data-src'])
    
#Creating dataframe.
dine = pd.DataFrame({'Resturent Name':r_name,'Cuisine':cuisine,'Location':location,'Rating':r_ratings,'URL':URL})
Dine = dine.style.hide_index()
Dine

# Problem 10

Write a python program to scrape the details of top publications from Google Scholar from: https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank

ii) Publication

iii) h5-index

 iv) h5-median

In [8]:
#Sending request to Google Scholer to get page content.
goog = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')

#Creating Soup
g_soup = BeautifulSoup(goog.content,'html.parser')

#Scraping rank
ranks = []
rank = g_soup.find_all('td', class_ = 'gsc_mvt_p')

for ran in rank:
    ranks.append(ran.text)

#Scraping Publication.

publication = []

for p in g_soup.find_all('td', class_ = 'gsc_mvt_t'):
    publication.append(p.text)

#Scraping details of h5 index.

h5_index = []

for h in g_soup.find_all('td', class_ = 'gsc_mvt_n'):
    h5_index.append(h.text)
    
#Scraping details of h5 median.
h5_median = []

for m in g_soup.find_all('td', class_ = 'gsc_mvt_n'):
    h5_median.append(m.text)

#Creating DataFrame of Google Scholer Form

form = list(zip(ranks, publication, h5_index, h5_median))
Google_Scholer = pd.DataFrame(form, columns = ['Rank','Publication','h5-index','h5-median'])
Google_Scholer = Google_Scholer.style.hide_index()
Google_Scholer