In [3]:
#Install Selenium
#!pip install selenium

In [39]:
#Import necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#Connecting to the driver
driver = webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [13]:
#Opening the naukri page on automated webdriver
driver.get('https://www.naukri.com/')

In [15]:
#Capturing designation
designation = driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Analyst')

In [16]:
#Entering location
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [17]:
#Click on search button
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [27]:
#Creating empty list to store details.
job_title = []
job_location = []
company_name = []
experience_required = []

#Scraping job title from the given page.
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
#Scraping job_location from the give page
location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location[0:10]:
    loc = i.text
    job_location.append(loc)
    
#Scraping company name
com = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in com[0:10]:
    comp = i.text
    company_name.append(comp)
    
#Scraping Experience required details.
ex = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in ex[0:10]:
    exp = i.text
    experience_required.append(exp)

In [28]:
#Printing the length of elements to make sure I have fetch only 10 data as per requirement.

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [31]:
#Creating DataFrame
Naukri = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name, 'Experience Required':experience_required})
Naukri = Naukri.style.hide_index()
Naukri

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [32]:
#Opening the naukri page on automated webdriver
driver.get('https://www.naukri.com/')

In [35]:
#Entering designation as Data Scientist
designations = driver.find_element(By.CLASS_NAME, 'suggestor-input ')
designations.send_keys('Data Scientist')

In [38]:
#Entering location as Bangalore
location = driver.find_element(By.XPATH, '/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [39]:
#Clicking on the search button.
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [43]:
#Creating empty list store details
job_title = []
job_location = []
company_name = []

#Scraping job title
j_title = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in j_title[0:10]:
    tit = i.text
    job_title.append(tit)
    
#Scraping job location
j_location = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in j_location[0:10]:
    loc = i.text
    job_location.append(loc)
    
#Scraping company name
c_name = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in c_name[0:10]:
    com = i.text
    company_name.append(com)

In [44]:
#Printing length of elements to make sure I have fetched only 10 data.
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [45]:
#Creating dataframe to showcase details
ds = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name})
ds = ds.style.hide_index()
ds

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

- You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company name, experience required.
- The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [79]:
#Opening the naukri page on automated webdriver
driver.get('https://www.naukri.com/')

In [80]:
#Entering designation as Data Scientist
designations = driver.find_element(By.CLASS_NAME, 'suggestor-input ')
designations.send_keys('Data Scientist')

In [81]:
#Clicking on the search button.
search = driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()

In [83]:
#Checking delhi/ncr filter
d_loc = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')
d_loc.click()

In [85]:
#Checking sal 3-6 lakhs filter
sal = driver.find_element(By.XPATH, '/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
sal.click()

In [92]:
#Creating empty list to fetch details.
Job_title = []
Job_location = []
Company_Name = []
Experience_req = []

#Scraping job title.
j_ti = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in j_ti[0:10]:
    t = i.text
    Job_title.append(t)
    
#Scraping Job location
j_loc = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in j_loc[0:10]:
    l = i.text
    Job_location.append(l)
    
#Scraping company name.
c_na = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in c_na[0:10]:
    c = i.text
    Company_Name.append(c)
    
#Scraping Experienced required details.
ex = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in ex[0:10]:
    e = i.text
    Experience_req.append(e)

In [93]:
#Printing length of each elements.
print(len(Job_title), len(Job_location), len(Company_Name), len(Experience_req))

10 10 10 10

In [94]:
#Creating dataframe
df = pd.DataFrame({'Job Title':Job_title, 'Job Location':Job_location, 'Company Name':Company_Name, 'Experience Required':Experience_req})
df = df.style.hide_index()
df

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
- Brand
- Product Description
- Price

In [95]:
#Opening flipkart page on automated webdriver
driver.get('https://www.flipkart.com/')

In [96]:
#Entering Sunglasses.
sun = driver.find_element(By.CLASS_NAME, '_3704LK')
sun.send_keys('Sunglasses')

In [97]:
#Clicking on search
search = driver.find_element(By.CLASS_NAME, 'L0Z3Pu')
search.click()

In [105]:
#Creating empty list.
brand = []
product_des = []
price = []

#Scraping brand details from the first page
Bran = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran:
    Brand = i.text
    brand.append(Brand)
    
#Scraping product description from the first page
pro = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro:
    product = i.text
    product_des.append(product)

#Scraping price of the sunglasses
pri = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri:
    p = i.text
    price.append(p)

In [108]:
#Clicking on next page
page = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
page.click()

In [113]:
#Creating empty list.
brand1 = []
product_des1 = []
price1 = []

#Scraping brand details from the second page
Bran1 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran1:
    Brand1 = i.text
    brand1.append(Brand1)
    
#Scraping product description from the second page
pro1 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro1:
    product1 = i.text
    product_des1.append(product1)

#Scraping price of the sunglasses from the second page
pri1 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri1:
    p1 = i.text
    price1.append(p1)

In [114]:
#Clicking on the 3rd page
page1 = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
page1.click()

In [120]:
#Creating empty list.
brand2 = []
product_des2 = []
price2 = []

#Scraping brand details from the third page
Bran2 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran2[0:20]:
    Brand2 = i.text
    brand2.append(Brand2)
    
#Scraping product description from the third page
pro2 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro2[0:20]:
    product2 = i.text
    product_des2.append(product2)

#Scraping price of the sunglasses from the third page
pri2 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri2[0:20]:
    p2 = i.text
    price2.append(p2)

In [127]:
#Merging lists
BRAND = brand + brand1 + brand2
PRODUCT = product_des + product_des1 + product_des2
PRICE = price + price1 + price2

print(len(BRAND), len(PRODUCT), len(PRICE))

100 100 100

In [128]:
#Creating Dataframe of scraped details.
flipkart = pd.DataFrame({'Brand':BRAND, 'Product Description':PRODUCT, 'Price':PRICE})
Flipkart = flipkart.style.hide_index()
Flipkart

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [3]:
#Opening flipkart page on automated webdriver
driver.get('https://www.flipkart.com/')

In [4]:
#Entering iphone.
iphone = driver.find_element(By.CLASS_NAME, '_3704LK')
iphone.send_keys('iphone11')

In [6]:
#Clicking on search
search = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [7]:
#Opening flipkart iphone11 black 64GB page on automated webdriver
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=d34c0ded-48c0-4f17-8295-2f89adf23229.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=vmt0wzyjyo0000001662810491845&qH=d6db477051465f9a')

In [8]:
#Clicking on all reviews.
re = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
re.click()

In [9]:
#Checking review
rev = driver.find_elements(By.CLASS_NAME, '_2wzgFH')
a = rev[0].text.split('\n')
a

['5',
 'Simply awesome',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Flipkart Customer',
 'Certified Buyer, Mokokchung',
 'Nov, 2020',
 '175912296']

In [10]:
#Checking the length of only review
len(a)-4

3

In [11]:
#Fetching review from complete review list
''.join(a[2:3:]).replace('', '')

'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'

In [27]:
#Checking Nxt button tags
driver.find_element(By.XPATH, '/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]').click()

In [28]:
#Defining a function to automate the process of fetching 100 review details and clicking next button everytime untill 10th page.
def iphone_scrapper():
    #Creating empty list
    rating = []
    summary = []
    review = []
    
    #This will have complete review details 
    reve = driver.find_elements(By.CLASS_NAME, '_2wzgFH')
    
    #below for loop will interate the code again again untill review details are fetched
    for index in range(len(reve)):
        items = reve[index].text.split('\n')
        rating.append(items[0])
        summary.append(items[1])
        review.append(''.join(items[2:len(items)-4]).replace('',''))
    
    try:
        #This try section will click on next button for rest of the pages
        driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]').click()
    
    except:
        #This is to click on next button for the first page
        driver.find_element(By.CLASS_NAME, '_1LKTO3').click()
        
    time.sleep(2)
    
    return rating, summary, review

In [29]:
#Scraping 100 review details.

time.sleep(2)

Rating = []
Summary = []
Review = []

for index in range(0,10):
    ra, su, re = iphone_scrapper()
    Rating.extend(ra)
    Summary.extend(su)
    Review.extend(re)
    
    print(f'Review Page {index + 1} Scrapped')

Review Page 1 Scrapped
Review Page 2 Scrapped
Review Page 3 Scrapped
Review Page 4 Scrapped
Review Page 5 Scrapped
Review Page 6 Scrapped
Review Page 7 Scrapped
Review Page 8 Scrapped
Review Page 9 Scrapped
Review Page 10 Scrapped

In [30]:
#Creating Dataframe to showcase all review details in one frame.
ipd = pd.DataFrame({'IPhone Ratings':Rating, 'Review Summary':Summary, 'Reviews':Review})
ipd = ipd.style.hide_index()
ipd

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
- Brand
- Product Description
- Price

In [52]:
#Opening flipkart page on automated webdriver
driver.get('https://www.flipkart.com/')

In [53]:
#Entering sneaker.
sneaker = driver.find_element(By.CLASS_NAME, '_3704LK')
sneaker.send_keys('sneakers')

In [54]:
#Clicking on search
search = driver.find_element(By.XPATH, '/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [55]:
#Creating empty list.
brand3 = []
product_desc = []
price3 = []

#Scraping brand details from the first page
Bran3 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran3:
    Brand3 = i.text
    brand3.append(Brand3)
    
#Scraping product description from the first page
pro3 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro3:
    product3 = i.text
    product_desc.append(product3)

#Scraping price of the sunglasses
pri3 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri3:
    p3 = i.text
    price3.append(p3)

In [56]:
#Clicking on next page
page = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
page.click()

In [57]:
#Creating empty list.
brand4 = []
product_desc1 = []
price4 = []

#Scraping brand details from the second page
Bran4 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran4:
    Brand4 = i.text
    brand4.append(Brand4)
    
#Scraping product description from the second page
pro4 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro4:
    product4 = i.text
    product_desc1.append(product4)

#Scraping price of the sunglasses
pri4 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri4:
    p4 = i.text
    price4.append(p4)

In [58]:
#Clicking on next page
page = driver.find_element(By.XPATH, '/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
page.click()

In [59]:
#Creating empty list.
brand5 = []
product_desc2 = []
price5 = []

#Scraping brand details from the third page
Bran5 = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
for i in Bran5:
    Brand5 = i.text
    brand5.append(Brand5)
    
#Scraping product description from the third page
pro5 = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
for i in pro5:
    product5 = i.text
    product_desc2.append(product5)

#Scraping price of the sunglasses
pri5 = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
for i in pri5:
    p5 = i.text
    price5.append(p5)

In [67]:
#Merging lists.
s_brand = brand3 + brand4 + brand5
s_pro = product_desc + product_desc1 + product_desc2
s_price = price3 + price4 + price5

In [71]:
#Creating DataFrame
flip = pd.DataFrame({'Brand':s_brand[0:100], 'Product Description':s_pro[0:100], 'Price':s_price[0:100]})
flip = flip.style.hide_index()
flip

# Q7: Go to the link - https://www.myntra.com/shoes

- Set second Price filter and Color filter to “Black”
- And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
  description, price of the shoe

In [79]:
#Opening Myntra page on automated webdriver
driver.get('https://www.myntra.com/shoes')

In [80]:
#Set second price filter.
price_filter = driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [81]:
#Filtering color 'Black'
Black = driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
Black.click()

In [86]:
#checking first shoe description.
shoe = driver.find_elements(By.CLASS_NAME,'product-productMetaInfo')
len(shoe)

50

In [87]:
#Checking details for shoe
a = shoe[0].text.split('\n')
a

['Nike', 'Men ZOOM WINFLO8 Running Shoes', 'Rs. 7880Rs. 8295(5% OFF)']

In [90]:
#Fetching product price
a[2].split('Rs.')[1].replace('','')

' 7880'

In [93]:
#creating empty list to store Brand, Product details and Price.
m_brand = []
m_product = []
m_price = []

for index in range(len(shoe)):
    s_info = shoe[index].text.split('\n')
    m_brand.append(s_info[0])
    m_product.append(s_info[1])
    m_price.append(s_info[2].split('Rs.')[1].replace('',''))

In [97]:
#Moving to the second page
driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a').click()

In [98]:
#checking first shoe description.
shoe2 = driver.find_elements(By.CLASS_NAME,'product-productMetaInfo')
len(shoe2)

50

In [99]:
#Confirming details of the second page
shoe2[0].text.split('\n')

['Puma', 'Men Velocity Nitro 2 Running', 'Rs. 8799Rs. 10999(20% OFF)']

In [101]:
#Fetching required details from the second page and putting them in existing list
for index in range(len(shoe2)):
    s_info2 = shoe2[index].text.split('\n')
    m_brand.append(s_info2[0])
    m_product.append(s_info2[1])
    m_price.append(s_info2[2].split('Rs.')[1].replace('',''))

In [104]:
#Checking length of each elements
print(len(m_brand),len(m_product),len(m_price))

100 100 100

In [105]:
#Creating dataframe to shocase srapped details.
Myntra = pd.DataFrame({'Brand':m_brand, 'Shoe Description':m_product, 'Price':m_price})
Myntra = Myntra.style.hide_index()
Myntra

# Q8: Go to webpage https://www.amazon.in/

- Enter “Laptop” in the search field and then click the search icon.
- Then set CPU Type filter to “Intel Core i7”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

- Title
- Ratings
- Price

In [125]:
#Opening Amazon page on automated webdriver
driver.get('https://www.amazon.in/')

In [126]:
#Entering laptop.
laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input' )
laptop.send_keys('Laptop')

In [127]:
#Clicking on search
search = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [128]:
#Clicking on filter intel core7
time.sleep(2)
intel = driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span')
intel.click()

In [129]:
#Creating empty list
title = []
l_rating = []
l_price = []

#Scraping title
l_title = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in l_title[0:10]:
    lap_title = i.text
    title.append(lap_title)

#Scraping price
lap_price = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in lap_price[0:10]:
    l_price.append(i.text)

In [130]:
print(len(title),len(l_price))

10 10

In [131]:
#Scraping ratings
url = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
url1 = []

#This code will go to inside of every laptop page and extract rating and if no rating return 'NO Rating'.
for i in url[:10]:
    url1.append(i.get_attribute('href'))
for url2 in url1:
    driver.get(url2)
    try:                  
        rating = driver.find_element(By.XPATH, "//span[@class='a-size-base a-nowrap']//span")
        l_rating.append(rating.text)
        
    except NoSuchElementException:
        l_rating.append("NO rating")

In [134]:
len(l_rating)

10

In [135]:
#Creating dataframe
laptop_df = pd.DataFrame({'Title':title, 'Ratings': l_rating, 'Price':l_price})
laptop_df = laptop_df.style.hide_index()
laptop_df

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [80]:
#Opening Ambitionbox page on automated webdriver
driver.get('https://www.ambitionbox.com/')

In [81]:
#Click on jobs
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a').click()

In [82]:
#Entering Data Scientist
dt = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
dt.send_keys('Data Scientist')

In [83]:
#Clicking on search button.
time.sleep(2)
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()

In [84]:
#Click on location.
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [85]:
#Entering location as Noida
loc = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
loc.send_keys('Noida')

In [87]:
#Select noida location
time.sleep(2)
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [121]:
#Creating empty list
Company = []
no_day = []
c_rating = []

#Scraping first 10 company names.
c_name = driver.find_elements(By.XPATH, '//p[@class="company body-medium"]')
for i in c_name[0:10]:
    Company.append(i.text)
    
#Scraping No of days ago when job posted
days = driver.find_elements(By.XPATH, "//div[@class='other-info']/span[1]")
for i in days[0:20]:
    nos = i.text
    no_day.append(nos)
    
#Scraping rating of the company
com_rat = driver.find_elements(By.XPATH, '//span[@class="body-small"]')
for i in com_rat[0:10]:
    c_rating.append(i.text)
    
c_rating

['4.1', '4.3', '3.8', '4.0', '4.3', '4.0', '4.0', '4.3', '4.3', '3.8']

In [123]:
#Checking length of each element
print(len(Company), len(no_day), len(c_rating))

10 10 10

In [124]:
#Creating Daframe to showcase scrapped data
am = pd.DataFrame({'Company Name':Company, 'No Of Days Ago Job Posted':no_day, 'Company Rating':c_rating})
am = am.style.hide_index()
am

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [178]:
#Opening Ambitionbox page on automated webdriver
driver.get('https://www.ambitionbox.com/')

In [179]:
#Click on salary
time.sleep(3)
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span').click()

In [180]:
#Click on Browse salaries 
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a').click()

In [181]:
#Enter Data Scientist
time.sleep(2)
ds = driver.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
ds.send_keys('Data Scientist')

In [182]:
#Click on Data Scientist
data = driver.find_elements(By.CLASS_NAME, 'tt_text')
data[0].click()

In [278]:
#Creating empty list.
ds_com = []
no_sal = []
avg_sal = []
min_sal = []
max_sal = []
exp_req = []

#Scraping company name
comp_name = driver.find_elements(By.XPATH, '//div[@class="company-info"]')
for i in comp_name:
    ds_com.append(i.text.split('\n')[0])
    
#Scraping total salary record
for i in comp_name:
    no_sal.append(i.text.split('\n')[-1].split('(')[-1].strip(')').strip(' '))

#Scraping average salary
av = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
for i in av:
    avg_sal.append(i.text.split('₹')[-1])
    
#Scraping minimum salary
mini = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
for i in mini:
    min_sal.append(i.text.split('\n')[0].strip('₹').strip(' '))

#Scraping maximum salary
for i in mini:
    max_sal.append(i.text.split('\n')[1].strip('₹').strip(' '))
    
#Scraping experience required
for i in comp_name:
    exp_req.append(i.text.split('\n')[-1].split('(')[0].strip(' '))
    
#creating dataframe
DF = pd.DataFrame({'Company Name':ds_com[0:10], 'Total No Of Records':no_sal[0:10], 'Average Salary':avg_sal[0:10], 'Minimun Salary':min_sal[0:10], 'Maximum Salary':max_sal[0:10], 'Experience Required':exp_req[0:10]})
DF = DF.style.hide_index()
DF